main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  display: flex;
}

.search-form > input[type=text]  {
  flex: 1 0 8em;
  border-width: 2px;
  border-radius: 3px;
  color: #2c3e50;
  border: 1px solid #dce4ec;
  font-size: 20px;
  line-height: 1.5;
  padding-left: 10px;
}

.search-form > button[type=submit]  {
  flex: 0 0 auto;
  border:none;
  background: #50E3A4;
  color: white;
  padding: 10px;
}

.currentlocation {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.etoile-icon {
  color: #ddd;
  font-size: 2em;
}

.etoile-icon.full:before {
  text-shadow: 0 0 2px rgba(0,0,0,0.7);
  color: black;
  content: '\2605'; /* Full star in UTF-8 */
  position: absolute;
}

.localisation-items {
  width: 350px;
}

.localisation-items > h3 {
  background: #50E3A4;
  color: white;
  padding: 10px 20px;
}

.localisation-items > div {
  background: #F0EFE9;
  display: flex;
  flex-direction: column;
}

.localisation-items > div > span {
  padding: 10px 20px;
  border: 1px solid white;
  cursor: pointer;
}