* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

html {
  font:14px normal Arial, sans-serif;
}

body {
  padding:60px;
  text-align: center;
}

h1 {
  margin-bottom:20px;
}

section  {
  margin-top : 20px;
}